.headerSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  background-color: #fd705c;
  border-radius: 0 0 30px 30px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 10px;
}

.logo {
  cursor: pointer;
}

.humbergerMenu {
  cursor: pointer;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.318);
  position: absolute;
  top: 100%;
  z-index: 1;
  background-color: #000000e6;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.optionsContainer.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.option {
  margin: 10px;
  cursor: pointer;
  text-shadow: #ffffff 0px 0px 2px;
}
