.headerSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  margin: 10px;
  cursor: pointer;
}

.optionsContainer {
  display: flex;
  flex-direction: row;
}

.option {
  margin: 10px;
  cursor: pointer;
}
