.headerSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background-color: #fd705c;
  margin-bottom: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.logo {
  cursor: pointer;
  margin: 10px;
}

.headerTitle {
  text-decoration: none;
}

.headerTitle h1 {
  color: #ffffff;
  font-weight: 100;
  margin: 0;
}

.humbergerMenu {
  cursor: pointer;
  margin: 10px;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.318);
  z-index: 122;
  backdrop-filter: blur(20px);
  margin-top: 27px;
}

.option {
  text-decoration: none;
  color: #fd705c;
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding: 10px 0px;
  font-weight: 800;
  text-shadow: #ffe9e6 0px 0px 10px;
}
