.requestsOverviewBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.requestsOverviewListWrapper {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 20px;
  background: #ffdfdb;
  overflow: hidden;
}

.requestsOverviewList {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 35px;
  box-sizing: border-box;
  z-index: 0;
  background: transparent;
}

.requestsOverviewListWrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55px;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    rgba(255, 223, 219, 0),
    rgba(255, 223, 219, 1)
  );
  border-radius: 0 0 8px 8px;
  z-index: 1;
}

.requestsOverviewItem {
  width: 90%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #fd705c;
  padding: 5px;
}

.requestsOverviewItemTopRow {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.requestsOverviewItemInfo {
  width: 100%;
}

.requestsOverviewItemType {
  font-size: 16px;
  font-weight: 600;
  color: #fd705c;
}

.requestsOverviewMore {
  font-size: 14px;
  color: #fd705c;
  background-color: transparent;
  border: none;
  margin: 0;
  display: contents;
}

.requestsOverviewTitle {
  margin-bottom: 20px;
}
