.requestsOverviewBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.requestsOverviewListWrapper {
  position: relative;
  width: 100%;
  border-radius: 20px;
  background: #ffdfdb;
}

.requestsOverviewList {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 35px;
  box-sizing: border-box;
  z-index: 0;
  background: transparent;
}

.requestsOverviewCounter {
  display: flex;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
  padding: 10px;
  border-radius: 50%;
  background-color: #fd705c;
  color: white;
  position: absolute;
  top: -10px;
  left: -10px;
  box-shadow: 0px 0px 5px 0px #fd705c;
}

.requestsOverviewListWrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55px;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    rgba(255, 223, 219, 0),
    rgba(255, 223, 219, 1)
  );
  border-radius: 0 0 8px 8px;
  z-index: 1;
}

.requestsOverviewItem {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #fd705c;
  padding: 5px;
  justify-content: center;
}

.requestsOverviewItemTopRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
}

.requestsOverviewItemTopRow time {
  width: 45%;
}

.requestsOverviewItemName {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 50%;
}

.requestsOverviewItemInfo {
  width: 100%;
}

.requestsOverviewItemType {
  font-size: 16px;
  font-weight: 600;
  color: #fd705c;
}

.requestsOverviewMore {
  font-size: 14px;
  color: #fd705c;
  background-color: transparent;
  border: none;
  margin: 0;
  display: contents;
  font-weight: 100;
}

.requestsOverviewTitle {
  margin-bottom: 20px;
  text-shadow: #ffe9e6 0px 0px 10px;
}
