html,
body {
  margin: 0;
  font-family: "Futura", "Century Gothic", "Gill Sans";
  background: #f9f9f9;

  figure {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-weight: 100;
    font-size: 30px;
    color: #fd705c;
    font-weight: 800;
  }

  h2 {
    color: #fd705c;
    margin: 0;
    font-weight: 100;
  }
}
