:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #303841;
    --foreground: #ededed;
  }
}

html,
body {
  figure {
    margin: 0;
    padding: 0;
  }

  h2 {
    color: #be3144;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Futura", "Century Gothic", "Gill Sans";
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
