.homePageSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 30px;
}

.bookingCategoriesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
