.homePageSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  padding: 20px;
}

.bookingCategoriesContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
