.homePageSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  padding: 25px;
}

.bookingCategoriesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
