.timePickerContainerAll {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.timePickerMoringContainer,
.timePickerAfternoonContainer {
  display: flex;
  flex-direction: column;
}

.timePickerWrapper {
  position: relative;
  width: 100%;
  margin-top: 5px;
}

.timePickerOptions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #ffdfdb;
  border-radius: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  border: solid 1px #fd705c;
}

.timePickerWrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(
    to left,
    rgba(255, 223, 219, 1),
    rgba(255, 223, 219, 0)
  );
  border-radius: 0 10px 10px 0;
  z-index: 2;
}

.timePickerWrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(
    to right,
    rgba(255, 223, 219, 1),
    rgba(255, 223, 219, 0)
  );
  border-radius: 10px 0 0 10px;
  z-index: 2;
}

.timePicked {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px 7px;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.timePickerOptions div:last-child,
.timePickerOptions div:first-child {
  position: relative;
  z-index: 4;
}

.selected {
  background-color: #fd705c;
  color: white;
  z-index: 3;
}

.timeSummary p {
  font-size: 16px;
}
