.timePickerContainerAll {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.timePickerMoringContainer,
.timePickerAfternoonContainer {
  display: flex;
  flex-direction: column;
}

.timePickerOptions {
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #ccffe7;
  border: solid 1px #afffda;
}

.timePicked {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 4px;
  font-size: 13px;
}

.selected {
  background-color: #fd705c;
  color: white;
  border: solid 1px #fd705c;
}

.timeSummary p {
  font-size: 16px;
}
