.manageBookingsSection {
  width: 100%;
}

.cardContainer {
  width: 100%;
  border: solid #fd705c 1px;
  border-radius: 20px;
  box-sizing: border-box;
  overflow: hidden;
  margin: 20px 0;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.headerLeftInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerLeftItems {
  display: flex;
  flex-direction: column;
}

.headerDateTimeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerDate,
.headerTime {
  font-size: 15px;
  font-weight: 600;
  color: #8b8b8b;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
}

.type,
.persons,
.duration,
.phone,
.court {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.type,
.duration,
.court {
  background-color: #ffe9e6;
}
