.manageBookingsSection {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cardsContainer {
  width: 100%;
  border-radius: 20px;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 20px;
}

.acknowledged {
  border: 1px solid #22976e;
}

.pending {
  border: 1px solid #fd705c;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 110px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.headerUserInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}

.headerLeftItems {
  display: flex;
  flex-direction: column;
}

.headerName {
  font-size: 18px;
}

.headerDate {
  font-size: 16px;
  font-weight: 600;
  color: #8b8b8b;
}
.headerStatusContainer {
  width: 100%;
}

.headerStatusInfo {
  padding: 5px 10px;
  font-size: 20px;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Acknowledged {
  color: #22976e;
  background-color: #ccffe7;
  font-weight: 600;
}

.Pending {
  color: #ab1615;
  background-color: #ffdfdb;
  font-weight: 600;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
}

.date,
.time,
.type,
.persons,
.duration,
.phone,
.court {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.date,
.type,
.duration,
.court {
  background-color: #ffe9e6;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.deleteButton {
  color: #ab1615;
  font-size: 16px;
  background-color: #ffdfdb;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px -1px,
    rgba(0, 0, 0, 0.14) 1px 1px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 6px 0;
  box-sizing: border-box;
}

.editButton {
  color: #fd705c;
  font-size: 16px;
  background-color: #ffdfdb;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px -1px,
    rgba(0, 0, 0, 0.14) 1px 1px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 6px 0;
  box-sizing: border-box;
}

.acknowledgeButton {
  color: #22976e;
  font-size: 16px;
  background-color: #ccffe7;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px -1px,
    rgba(0, 0, 0, 0.14) 1px 1px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 6px 0;
  box-sizing: border-box;
}
