.bookingBlock {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding: 20px;
}

.nameContainer,
.phoneContainer,
.bookingTypeContainer,
.personsContainer,
.dateSelectionContainer,
.durationSelectionContainer,
.courtSelectionContainer {
  margin-bottom: 20px;
}

.submitButton {
  color: white;
}
