.bookingBlock {
  display: flex;
  flex-direction: column;
}

.nameContainer,
.phoneContainer,
.bookingTypeContainer,
.personsContainer,
.dateSelectionContainer,
.durationSelectionContainer,
.courtSelectionContainer {
  margin-bottom: 20px;
}
