.bookingBlock {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding: 20px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.submitButton {
  color: white;
}
